<div class="wapper">
  <div>
    <h1>Danh sách người dùng</h1>
    <a href="/users/create">Thêm mới người dùng</a>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tài Khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <th scope="row">{{this.username}}</th>
              <td>{{this.email}}</td>
              <td>{{this.phone}}</td>
              <td><a
                  type="button"
                  href="/users/edit/{{this._id}}"
                  class="btn btn-warning"
                >Sửa</a>
                <a
                  type="button"
                  href="/users/delete/{{this._id}}"
                  class="btn btn-danger"
                >Xóa</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>